sudo: false
language: node_js
node_js:
  - "6.3"

notifications:
  email: true

branches:
  only:
    - master

script:
  - npm run lint
  - npm test

before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - sleep 3
  - npm i -g npm@^3
  - npm install -g cordova ionic
